@font-face {
    font-family: 'KurdForest';
    src: local('ant;
}
est'), url('KurdForest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* شێوازی بەکارهێنانەکەی لەناو CSS بۆ ئەوەی دڵنیا بیت کاری پێ دەکات */
body {
    font-family: 'KurdForest', sans-serif;
}

